body{
color: white;
background: rgb(139, 5, 5);
font-family:"Faculty Glyphic", serif;
    }
 chamada{
    background:blueviolet;
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-cotent: center;
    
    categoria {
padding-left: 20px;
padding-right: 20px;
}

div {
margin-right: 20px;
}

.chamada-texto {
margin-right: 5%;
margin-left: 5%;
}

img {
height: 200px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

h1 {
font-size: 30px;




    }
    