body{
color: white;
background: rgb(139, 5, 5);
font-family:"Faculty Glyphic", serif;
    }
 chamada{
    background:blueviolet;
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-cotent: center;
    

    }
    